<openerp>
    <data>
        <record model="ir.ui.view" id="view_res_company_form_inherit_certs">
            <field name="name">view.res.company.form.inherit.certs</field>
            <field name="inherit_id" ref="base.view_company_form"/>
            <field name="model">res.company</field>
            <field name="arch" type="xml">
                <xpath expr="/form/sheet/notebook/page[@name='configuration']" position="after">
                    <page string="Certificados">
                        <group string="Archivos CER y KEY">
                            <div>
                                <label for="achivo_cer"/>
                                <field name="achivo_cer" domain="[('res_model', '=', 'res.company'),('res_id','=',id), ('mimetype','=','chemical/x-cerius')]"/>
                            </div>
                            <div>
                                <label for="achivo_key"/>
                                <field name="achivo_key" domain="[('res_model', '=', 'res.company'),('res_id','=',id), ('mimetype','=','application/pgp-keys')]"/>
                            </div>
                            <div colspan="2">
                                <label for="cer_password"/>
                                <field name="cer_password" password="True"/>
                            </div>
                            <div>
                                <label for="numero_certificado"/>
                                <field name="numero_certificado"/>
                            </div>
                            <button name="generateNumCER" type="object" class="btn btn-sm btn-primary" string="Obtener serie del certificado"/>
                        </group>
                        <group string="Archivo PEM ( Generado a partir del CER y KEY )">
                            <div>
                                <label for="achivo_pem"/>
                                <field name="achivo_pem" domain="[('res_model', '=', 'res.company'),('res_id','=',id), ('mimetype','=','application/octet-stream')]"/>
                            </div>
                            <button name="generatePEM" type="object" class="btn btn-sm btn-primary" string="Generar PEM"/>
                        </group>
                        <!-- <field colspan="4" name="cif_file" widget="image"/> -->
                    </page>
                </xpath>
            </field>
        </record>
<!-- 
        <record id="facturacion_electronica" model="ir.ui.view">
            <field name="name">Datos para facturación electrónica</field>
            <field name="model">factelect.config.settings</field>
            <field name="arch" type="xml">
                <form string="Datos para facturación electrónica" class="oe_form_configuration">
                    <header>
                        <button string="Save" type="object" name="execute" class="oe_highlight"/>
                        or
                        <button string="Cancel" type="object" name="cancel" class="oe_link"/>
                    </header>
                    <group string="Datos para facturación electrónica">
                        <div>
                            <label for="achivo_cer"/>
                            <field name="achivo_cer" colspan="2"/>
                        </div>
                        <div>
                            <label for="achivo_key"/>
                            <field name="achivo_key" colspan="2"/>
                        </div>
                        <div>
                            <label for="cer_password"/>
                            <field name="cer_password" colspan="2"/>
                        </div>
                    </group>
                </form>
            </field>
        </record>
        <record id="facturacion_elect_parameters_action" model="ir.actions.act_window">
            <field name="name">Datos para facturación electrónica</field>
            <field name="res_model">factelect.config.settings</field>
            <field name="view_id" ref="facturacion_electronica"/>
            <field name="view_mode">form</field>
            <field name="target">inline</field>
        </record>
        <menuitem id="facturacion_elect_parameters_menu" name="Facturación electrónica" parent="account.menu_finance_configuration" action="facturacion_elect_parameters_action" groups="base.group_configuration"/> -->
    </data>
</openerp>